* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  background-color: #eee;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  height: 80px;
}

#titulo {
  display: flex;
  flex-direction: row;
  font-size: 14pt;
}

#container {
  width: 100%;
  height: 100%
}

#dadosContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

#dadosEntrada {
  display: flex;
  flex-direction: column;
}

#inputDados {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

#dadosSaida {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#saida {
  width: 100%;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
